<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>

<body>
    登录
    <form action="http://localhost:8081/doLogin" method="post" name="get提交">
        username:<input type="text" name="username" autocomplete/>
        password:<input type="password" name="password" autocomplete/>
        <input type="submit" value="提交">
    </form>
</body>

</html>