<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <title>注册页面</title>
</head>

<body>
    注册页面
    <form action="http://localhost:8081/doRegister" method="post">
        名字:<input type="text" name="name" autocomplete />
        年龄:<input type="text" name="age" autocomplete />
        <input type="submit" value="提交">
    </form>
</body>

</html>